body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border: none; 
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important; 
}


.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

