# 1. Забороняємо користувачам переглядати вміст папок, якщо там немає індексного файлу
Options -Indexes

# 2. Встановлюємо головну сторінку, яка відкриватиметься за замовчуванням
DirectoryIndex index.php

# 3. Налаштування обробки помилок сервером (Custom Error Pages)
# Якщо користувач введе неправильну адресу, сервер автоматично покаже твою сторінку
ErrorDocument 404 /lapka-nadiyi/errors/404.php

# 4. Встановлюємо кодування за замовчуванням для всього сайту
AddDefaultCharset UTF-8